<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.adley.myseriesproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_abbreviation"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySeries">
        <activity android:name=".activities.SearchTVShowActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TVShowDetailsActivity"
            android:label="@string/title_activity_tvshow_details"
            android:parentActivityName=".activities.SearchTVShowActivity"
            android:theme="@style/Theme.MySeries">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SearchTVShowActivity" />
        </activity>
    </application>

</manifest>